

:root{
    --blanco:#FFFFFF;
    --oscuro:#000000;
    --primario:#FF441F;
    --secundario:#f7f8f9;
}

/*
REM -> es realtivo al documento
Al ver que los rem y los px guardaban una relación se creo un 'hack'
reiniciamos el tamaño del html que rodea todo el documento*/
html {
    font-size: 62.5%;
}
body{
    font-size: 16px; 
    
    /*Unidades de medida px 
    em ->porcentaje del elemento al que pertenece(tamaño del padre)
    rem -> es relativo al documento (toma com referencia al tamaño del documento)
    1 rem = 10 px -> esto permite que los sitios web se adapten mas a una gran cantidad de navegadores*/
}
h1 {
    font-size: 3.8rem;
    text-align: center;
    color: var(--blanco);
    font-family: 'Sansita Swashed', cursive;
    font-weight: 600;
    padding-bottom: 1rem;
    margin: 0 auto;
    
}
h1 span {
    font-size: 2rem;
}

.slogan{
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-weight: 400;
}

.contenedor-titulo{
    background-color: var(--primario);

}

.contenedor{
    background-color: var(--secundario);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    margin: auto 5rem;
    border: none;
    border-radius: 2rem;

}
.secondColumn{
    flex-direction: row-reverse;
    display: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.primaryColumn{
    flex-direction: row;
    margin: 0 10rem;
}

.btnPrimario{
    background-color: var(--primario);
    border: none;
    border-radius: 1rem;
    color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 1rem 2.5rem;
    margin: 1rem;

}
.btnSecundario{
    background-color: var(--blanco);
    border-color: var(--primario);
    border-radius: 1rem;
    color: var(--primario);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0.8rem 2rem;
    margin: 1rem;
}

/* .lbl{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;

} */

.inputClass{
    border: 0rem;
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    margin: 1rem;
}

.btnLimpiar{
    background-color: var(--secundario);
    border:none;
    border-radius: 1rem;
}

